.Input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 12px;

  label {
    margin: 6px 0  3px;
    font-size: 18px;
    color: black;
    font-weight: bold;
  }

  input {
    border: 1px solid #a5a4a4;
    padding: 4px;
    border-radius: 4px;
    font-size: 16px;
  }

  &.Error {
    label {
      color: rgba(231, 51, 51, 0.96);
    }

    span {
      font-size: 11px;
      color: rgba(231, 51, 51, 0.96);
    }
  }
}
