.QuizCreator {
  width: 100%;
  height: 100%;
  background: radial-gradient(#ea7961, #e79f9f);
  display: flex;
  justify-content: center;
  padding-top: 100px;

  h1 {
    font-size: 30px;
    text-align: center;
  }

  form {
    padding: 25px 25px 16px 25px;
    background: #fff;
    box-shadow: 2px 3px 1px 3px rgba(0,0,0,.15);
    border-radius: 5px;
  }
}